// 未来荧黑常规400字重
@font-face
  font-family: "GlowSansSC"
  src: url("/fonts/GlowSansSC-Normal-Book.woff2") format("woff2")
  font-weight: 400
  font-style: normal
  font-display: swap

// 未来荧黑粗体700字重
@font-face
  font-family: "GlowSansSC"
  src: url("/fonts/GlowSansSC-Normal-Bold.woff2") format("woff2")
  font-weight: 700
  font-style: normal
  font-display: swap

// Nimbus Sans L 常规400字重
@font-face
  font-family: "NimbusSanL"
  src: url("/fonts/NimbusSanL-Reg.woff2") format("woff2")
  font-weight: 400
  font-style: normal
  font-display: swap

// Nimbus Sans L 粗体700字重
@font-face
  font-family: "NimbusSanL"
  src: url("/fonts/NimbusSanL-Bol.woff2") format("woff2")
  font-weight: 700
  font-style: normal
  font-display: swap