@font-face {
    font-family: "GlowSansSC-Normal-Book";
    src: url("GlowSansSC-Normal-Book.eot"); /* IE9 */
    src: url("GlowSansSC-Normal-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("GlowSansSC-Normal-Book.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("GlowSansSC-Normal-Book.woff") format("woff"), /* chrome, firefox */
    url("GlowSansSC-Normal-Book.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("GlowSansSC-Normal-Book.svg#GlowSansSC-Normal-Book") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


