@font-face {
    font-family: "Helvetica Neue";
    src: url("HelveticaNeue-01.eot"); /* IE9 */
    src: url("HelveticaNeue-01.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("HelveticaNeue-01.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("HelveticaNeue-01.woff") format("woff"), /* chrome, firefox */
    url("HelveticaNeue-01.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("HelveticaNeue-01.svg#Helvetica Neue") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


