if hexo-config('css_prefix')
  @import 'nib'
// 基础浏览器标准化
@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'
// search
@import '_search/index'
// 引入自定义样式
@import '_custom/*'